<div class="container1">
    <img src="/img/farcry-banner.jpg" class="banner" alt="FarCry6 ">
    <div class="receber-emails">
        <h2>Receba novidades e promoções</h2>
        <input type="text" class="footer-nome" placeholder="Seu nome">
        <input type="text" placeholder="Seu e-mail">
        <button class="footer-enviar">
            OK
        </button>
    </div>
    <div class="container2">
        <img src="/img/logo-setupgamer.gif" class="logo-footer" alt="SetupGamer">
        <div class="footer-info">
            <ul class="Institucional">
                <h3>Institucional</h3>
                <li><a href="">Sobre nós</a></li>
                <li><a href="">Política de privacidade</a></li>
                <li><a href="">Termos de serviço</a></li>
                <li><a href="">Formas de pagamento e envio</a></li>
                <li><a href="">Garantia, troca e devolução</a></li>
                <li><a href="../contato">Fale conosco</a></li>
            </ul>
            <ul>
                <h3>Atendimento</h3>
                <li>(00) 00000-0000</li>
                <li>contato@setupgamer.com.br</li>
                <li>Seg a Sex 8:00 às 18:00</li>
                <li>Sab 8:00 às 12:00</li>
                <li>A SetupGamer é uma loja virtual, não possuímos lojas físicas</li>
            </ul>
        </div>
    </div>
</div>