<nav>
    <%- include("logo") %>
    <div class="nav-options">
        <p class="pt">Português(BR) - BRL</p>
        <a href="../cadastro" class="signup">Cadastar-se</a>
        <p class="separador">|</p>
        <a href="#modal"><img src="/img/login.png" alt="Logar"></a>
        <a href="/carrinhoDeCompra"><img src="/img/carrinho.png" alt="Carrinho"></a>
    </div>
</nav>
<div class="menu-bar">
    <ul>
        <li>
          <a href="../sobre-nos">A SetupGamer</a>
        </li>
        <li>
          <a href="../categorias#pcs-gold">Pc's gamers</a>
        </li>
        <li>
          <a href="#">WorkStation</a>
        </li>
        <li>
          <a href="#">Pc's office</a>
        </li>
        <li>
            <a href="#">Peças</a>
        </li>
        <li>
            <a href="../monte-seu-pc">Monte seu pc</a>
        </li>
    </ul>
</div>

<!--modal-->
<%- include('login') %> 