<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal__content">
        <a href="#" class="modal__link">X</a>

        <h2 class="modal__title">LOGAR</h2>
        <p class="modal__description">
            Olá,<br>
            <small>Seja bem vindo(a) novamente!</small>
        </p>

        <form action="" class="form-login">
            <div class="form-group">
                <input type="email" name="logemail" class="form-style" placeholder="E-mail" id="logemail" autocomplete="off">
                <i class="fas fa-at"></i>
            </div>	

            <div class="form-group">
                <input type="password" name="logpass" class="form-style" placeholder="Senha" id="logpass" autocomplete="off">
                <i class="fas fa-lock"></i>
            </div>

             <a href="#" class="senha-link">Esqueceu sua senha?</a>
             
             <button type="submit">Entrar</button>

             <a href="../cadastro" class="cadastro-link">Cadastrar-se</a>
        </form>
    </div>
</div>