<a class="logo" href="../">
    <div class="deconstructed">
        >SetupGamer
        <div>>SetupGamer</div>
        <div>>SetupGamer</div>
        <div>>SetupGamer</div>
        <div>>SetupGamer</div>
    </div>
</a>
