<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/logo.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/cadastro.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <script defer src="https://kit.fontawesome.com/6837938f61.js" crossorigin="anonymous"></script>

    <title> <%- title %> </title>
</head>
<body>
    <header><%- include("./includes/header") %></header>

    <h1>CADASTRO</h1>
    <main>
        <section class="containerl">

                <div class="opcao">

                    <button class="option__active"><p>Pessoa Física</p></button>
                    <button><p>Pessoa Jurídica</p></button>

                </div>

            <div class="formulario">
                        
                <div class="triangle-down"></div>
                <h2>Insira seus dados</h2>

                <form action="">
                    <div class="caixa">
                        <label for="nome"></label>
                        <input type="text" id="nome" name="nome" placeholder="Nome">
                
                        <label for="sobrenome"></label>
                        <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
                    </div>

                        <label for="email"></label>
                        <input type="email" id="email" name="email" placeholder="Email" required>

                    <div class="caixa">
                        <label for="dataDeNascimento"></label>
                        <input type="text" id="dataDeNascimento" name="dataDeNascimento" placeholder="Data de Nascimento">

                        <label for="genero"></label>
                        <input type="text" id="genero" name="genero" placeholder="Gênero">
                    </div>   
                
                    <div class="caixa">
                        <label for="cpf"></label>
                        <input type="text" id="cpf" name="cpf" placeholder="CPF">

                        <label for="telefone"></label>
                        <input type="text" id="telefone" name="telefone" placeholder="Telefone">
                    </div>

                        <label for="senha"></label>
                        <input type="password" id="senha" name="senha" placeholder="Senha">

                    <div class="termos">
                        <input type="checkbox" id="checkbox" name="checkbox">
                        <label for="checkbox">Receber novidades e promoções por e-mail</label>
                    </div>

                    <p class="politica">Ao criar uma conta, você está de acordo com nossa <strong>política de privacidade.</strong></p>
                    <button class="cadastrar">Cadastrar</button>

                </form>
            </div>
        </section>
    </main>

    <footer><%- include("./includes/footer") %></footer>
</body>
</html>