<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/logo.css" />
        <link rel="stylesheet" href="/stylesheets/carrinhoDeCompra.css">
        
        <script defer src="/scripts/inputNumber.js" crossorigin="anonymous"></script>
        <script defer src="/scripts/adicionarCarrinho.js" ></script>
        <script defer src="/scripts/storageSalvoCarrinho.js"></script>
    
        <!--<script defer src="https://kit.fontawesome.com/6837938f61.js" crossorigin="anonymous"></script>-->
    
        <title> <%- title %> </title>
    </head>
    <body>
        <header><%- include("./includes/header") %></header>

        <main>

            <h1>CARRINHO DE COMPRAS</h1>

            <div class="container">
                
                <section class="separarElementos">

                    <div class="produtoSelecionado">    

                        <ul>
                            
                            

                        </ul>

                    <div class="concluir">

                        <form action="">
                            <div class="valor">

                                <label for="valorTotal">Total:</label>
                                <input type="number" name="valorTotal" id="valorTotal">
                        
                            </div>
                            <button id='enviar' type="submit"> <a href="/checkout/pagamento">COMPRAR</a></button>
                            <button id='resetar' type="reset">RESETAR</button>

                        </form>
                        

                    </div>   
                        
                    </div>
<!----------------------------------------------------------------------------------------------------------------------->
                    <!--<div class="finalizarCompra">
                        <form action="" method="">
                            <h2>SIMULE SEU FRETE E PRAZO</h2>
                            <input type="text"><button>COMPRAR</button>
                        </form>
                    </div>-->
                    

                </section>

            </div>
        </main>









        <footer><%- include("./includes/footer") %></footer>
    </body> 

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
          </html>   