<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/logo.css" />
    
        <!--<script defer src="https://kit.fontawesome.com/6837938f61.js" crossorigin="anonymous"></script>-->
    
        <title> <%- title %> </title>
    </head>
    <body>
        <header><%- include("./includes/header") %></header>

        <main>

            <h1>CARRINHO DE COMPRAS</h1>

            <div class="container">
                
                <section class="separarElementos">

                    <div class="produtoSelecionado">
                        <ul>
                            <li>
                                <article></article> <!--colocar border-bottom que ele sempre separa-->
                            </li>
                        </ul>
                    </div>

                    <div class="finalizarCompra">

                    </div>

                </section>

            </div>
        </main>









        <footer><%- include("./includes/footer") %></footer>
    </body> 
          </html>   