<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/background.css">
    <link rel="stylesheet" href="/stylesheets/logo.css">
    <title>Página inicial</title>
</head>
<body>
    <header>
        <%- include("./includes/header")  %> 
    </header>
    <main>

    </main>
    <footer>
        <div class="container">
            <img src="/img/farcry-banner.jpg" alt="FarCry6 ">
            <div class="receber-emails">
                <h2>Receba novidades e promoções</h2>
                <input type="text" class="footer-nome" placeholder="Seu nome">
                <input type="text" placeholder="Seu e-mail">
                <button class="footer-enviar">
                    OK
                </button>
            </div>
        </div>
        
    </footer>
</body>
</html>