<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/background.css">
    <link rel="stylesheet" href="/stylesheets/logo.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Página inicial</title>
</head>
<body>
    <header>
        <%- include("./includes/header")  %> 
    </header>
    <main>
      <!--Carrossel-->
      <section class="carousel">
        <div data-js="carousel__item" class="carousel__item carousel__item--visible">
          <img src="https://s19.postimg.cc/qzj5uncgj/slide1.jpg" />
        </div>
    
        <div data-js="carousel__item" class="carousel__item">
          <img src="https://s19.postimg.cc/lmubh3h0j/slide2.jpg" />
        </div>
    
        <div data-js="carousel__item" class="carousel__item">
          <img src="https://s19.postimg.cc/99hh9lr5v/slide3.jpg" />
        </div>
    
        <div class="carousel__actions">
          <button data-js="carousel__button--prev" aria-label="Slide anterior">
            <
          </button>
    
          <button data-js="carousel__button--next" aria-label="Próximo slide">
            >
          </button>
        </div>
      </section>

      <!--Procurar-->
      <form action="">
        <div class="search">
          <input type="text" placeholder="O que você procura?">
          <button type="submit"><img src="/img/lupa.png" alt="Buscar"></button>
        </div>
      </form>

      <!--Categorias-->
      <section class="categories">
        <div class="container1">

          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <h2 class="card-1">Procurando algo novo?</h2>
                <p class="card-1">Venha dar uma conferida em nossos produtos de lançamentos.</p>
              </div>
            </div>
            <div class="face face2">
              <h2>Novidades</h2>
            </div>
          </div>
      
          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <h2 class="card-2">Quer saber quais os produtos que a galera mais compra?</h2>
                <p class="card-2">Aqui você encontrará a lista dos mais vendidos pela SetupGamer.</p>
              </div>
            </div>
            <div class="face face2">
              <h2>Mais comprados</h2>
            </div>
          </div>

        </div>
        <div class="container2">

          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <h2 class="card-3">Quer deixar seu Setup ainda mais elegante e profissional?</h2>
                <p class="card-3">Confira os acessórios que a SetupGamer tem para você.</p>
              </div>
            </div>
            <div class="face face2">
              <h2>Acessórios</h2>
            </div>
          </div>

          <div class="card">
            <div class="face face1">
              <div class="content">
                <span class="stars"></span>
                <h2 class="card-4">Querendo encontrar alguma máquina mais em conta?</h2>
                <p class="card-4">Conheça nossos Pc´s mais baratos.</p>
              </div>
            </div>
            <div class="face face2">
              <h2>Economicos</h2>
            </div>
          </div>

        </div>
      </section>

      <!--Carrossel de produtos-->
      
    </main>
    <footer>
        <%- include("./includes/footer") %> 
    </footer>
</body>
</html>