<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--css-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/logo.css" />
    <link rel="stylesheet" href="/stylesheets/monteSeuPc.css" />
    <link rel="stylesheet" href="/stylesheets/owl/owl.carousel.min.css" />
    <link rel="stylesheet" href="/stylesheets/owl/owl.theme.default.min.css" />

    <!--JS-->
    <script defer src="https://kit.fontawesome.com/6837938f61.js" crossorigin="anonymous"></script>
    <script defer src="/scripts/owl/jquery.min.js"></script>
    <script defer src="/scripts/owl/owl.carousel.min.js"></script>
    <script defer src="/scripts/owl/config-monteSeuPc.js"></script>

    <title>Monte seu pc</title>
</head>
<body>
    <header><%- include("./includes/header") %></header>
    <main>
        <!--Processador-->
        <section class="processador">
            <h2>PROCESSADOR</h2>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <article>
                        <img src="/img/processadores/intel-i3.jpeg" alt="" />
                        <p>Processador Intel Core i3</p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/processadores/intel-i5.jpeg" alt="" />
                        <p>Processador Intel Core i5</p>
                        <p><i class="fas fa-barcode"></i> R$ 999,99 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.369,51 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/processadores/intel-i7.jpg" alt="" />
                        <p>Processador Intel Core i7</p>
                        <p><i class="fas fa-barcode"></i> R$ 2.431,61 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 2.801,13 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/processadores/amd-ryzen3.jpg" alt="" />
                        <p>Processador AMD Ryzen 3</p>
                        <p><i class="fas fa-barcode"></i> R$ 949,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.319,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/processadores/amd-ryzen5.jpg" alt="" />
                        <p>Processador AMD Ryzen 5</p>
                        <p><i class="fas fa-barcode"></i> R$ 1.300,00 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.669,52 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/processadores/amd-ryzen7.jpg" alt="" />
                        <p>Processador AMD Ryzen 7</p>
                        <p><i class="fas fa-barcode"></i> R$ 2.838,98 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 3.208,00 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>
            </div>
        </section>

        <!--Placa Mãe-->
        <section class="placa-mae">
            <h2>PLACA MÃE</h2>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <article>
                        <img src="/img/placas-mae/h410m-ddr4.jpg" alt="" />
                        <p>Placa Mãe Gigabyte H410M DDR4</p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/placas-mae/z490-pro4.jpg" alt="" />
                        <p>Placa Mãe AsRock Z490 Pro4 DDR4</p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/placas-mae/z590gta.jpg" alt="" />
                        <p>Placa Mãe Biostar Racing Z590GTA DDR4</p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>
            </div>
        </section>

        <!--Memoria Ram-->
        <section class="memoria-ram">
            <h2>MEMÓRIA RAM</h2>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <article>
                        <img src="/img/memorias-ram/t-force-zeus.jpg" alt="" />
                        <p>Memória Tema Group T-Force Zeus 8GB DDR4 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/memorias-ram/t-force-gaming.jpg" alt="" />
                        <p>Memória Team Group T-Force TUF Gaming 8GB DDR4 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/memorias-ram/corsair-vengeance.jpg" alt="" />
                        <p>Memória Corsair Vengeance LPX 8GB DDR4 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/memorias-ram/adata-xpg-spectrix.jpg" alt="" />
                        <p>Memória Adata XPG Spectrix D41 RGB 8GB DDR4 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/memorias-ram/corsair-rgb-pro.jpg" alt="" />
                        <p>Memória Corsair Vengeance RGB PRO, 8GB DDR4 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/memorias-ram/adata-xpg-d50.jpg" alt="" />
                        <p>Memória Adata XPG Spectrix D50 RGB 8GB DDR4 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>
            </div>
        </section>

        <!--Placa de video-->
        <section>
            <h2>PLACA DE VÍDEO</h2>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <article>
                        <img src="/img/placas-videos/pny-t400.jpg" alt="" />
                        <p>Placa de Video PNY Quadro T400, 2GB, GDDR6 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/placas-videos/mancer-radeon.jpg" alt="" />
                        <p>Placa de Video Mancer Radeon RX 550, 4GB, GDDR5 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/placas-videos/asus-geforce.jpg" alt="" />
                        <p>Placa de Video Asus GeForce GTX 1650 4GB GDDR6 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/placas-videos/asus-rtx-3060.jpg" alt="" />
                        <p>Placa de Video Asus GeForce RTX 3060 V2 OC 12GB GDDR6 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/placas-videos/pulse-radeon-6700.jpg" alt="" />
                        <p>Placa de Video Pulse Radeon RX 6700 XT 12GB GDDR6 </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

                <div class="item">
                    <article>
                        <img src="/img/placas-videos/asrock-radeon.jpg" alt="" />
                        <p>Placa de Video AsRock Radeon RX 6800 XT Taichi </p>
                        <p><i class="fas fa-barcode"></i> R$ 657,90 <small>no boleto</small></p>
                        <p><i class="fas fa-credit-card"></i> R$ 1.027,42 <small>em até 12x no cartão</small></p>
                    </article>
                    <button class="btn-adc">Adicionar</button>
                </div>

            </div>
        </section>
    </main>
    <footer><%- include("./includes/footer") %></footer>
</body>
</html>