<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/logo.css" />
    <link rel="stylesheet" href="/stylesheets/msgCompra.css" />

    <!--JS-->
    <script defer src="https://kit.fontawesome.com/6837938f61.js" crossorigin="anonymous"></script>

    <title><%- title %></title>
</head>
<body>
    <header><%- include("./includes/header") %></header>
    <main>
        <div class="container">
            <img src="/img/sucesso.png" alt="">
            <h2><strong>PEDIDO FINALIZADO</strong>
                Agradecemos a compra!!
            </h2>

            <p>Seu pedido foi registrado e está sendo analisado, verifique seu e-mail para mais detalhes.</p>

            <a href="../">Página inicial</a>
        </div>
        
    </main>
    <footer><%- include("./includes/footer") %></footer>
</body>
</html>