:root {
    --white: #fff;
    --black: #111;
    --black2: rgba(87, 87, 87, 0.719);
    --green: #35C910;
    --gray: #CACACA;
    --gray2: #c4c4c4;
}

/************Titulo************/

h1 {
    margin: 15vh 11% 0;
    text-align: center;
    font-size: 5vh;
    font-weight: 900;
    background: var(--green);
    color: #242424;
}

.triangle-down {
    margin-left: 39.4%;
    margin-bottom: 15vh;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11vh 10.5vw 0 10.5vw;
    border-color: var(--green) transparent transparent transparent;
}

/************Carrossel categorias************/

section {
    margin: 7vh 11%;
    border-bottom: solid #4e4e4eaf;
    margin-bottom: 3vh;
}

.owl-carousel {
    border-top: solid #4e4e4eaf;
}

.item {
    height: 100%;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 1vh;
    padding-bottom: 0.2em;
    box-shadow: 0px 0px 10px 0px #000;
}

.item img {
    height: 18em;
}

h2 {
    color: #fff;
}

.item p {
    color: #fff;
    margin-left: 0.5em;
}

.item i {
    color: var(--green);
    font-size: 2vh;
}

article {
    position: relative;
}

article:hover {
    opacity: 0.7;
}

div.btn-floatter {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
}

div.btn-floatter button {
    height: 4em;
    width: 3em;
    background: none;
    border: none;
    cursor: pointer;
    visibility: hidden;
}

article:hover button {
    visibility: visible;
}

div.btn-floatter img {
    height: 100%;
}

.teste {
    margin-top: 50vh;
}