main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    margin-top: 6vh;
    margin-bottom: 5vh;
}

.formulario {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(87, 87, 87, 0.719);
    width: 70%;
    padding-bottom: 5%;
    margin-bottom: 10vh;
}

.triangle-down {
    position: relative;
    display: flex;
    justify-content: center;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11vh 13vw 0 13vw;
    border-color: #35c910 transparent transparent transparent;
    opacity: 50%;
}

main h2.top {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    color: white;
    font-size: 1.8vh;
    padding-top: 1vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 10vh;
    width: 45%;
}

.caixa {
    display: flex;
    justify-content: start;
    width: 100%;
}

main input{
    resize: none;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid #CACACA;
    margin: 25px 0;
    width: 99%;
}

.caixa input {
    width: 22%;
}

.caixa input:nth-of-type(1) {
    margin-right: 5vw;
}

.caixa input:nth-of-type(2) {
    margin-right: 5vw;
}

main input:focus, textarea:focus {
    outline: none;
}

textarea {
    resize: none;
    background: none;
    color: white;
    border: 1px solid #CACACA;
    margin: 25px 0;
    width: 99%;
}

form button {
    padding: 1vh 0;
    width: 100%;
    background-color: #35c910;
    border: none;
    font-size: 1.5vh;
    font-weight: 700;
    cursor: pointer;
}

form button:hover{
    background-color: #1e7209d7;
    color: white;
    border-color: #1e7209d8;
}

.triangle-top {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13vw 100px 13vw;
    border-color:  #35c910 transparent;
    opacity: 50%;
}

main h2.bottom {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.8vh;
    padding-bottom: 1vh;
}

@media (max-width: 982px) {
    .triangle-down {
        position: relative;
        display: flex;
        justify-content: center;
        border: none;
        height: 5vh;
        width: 100%;
        background-color: #35c910;
    }

    .triangle-top {
        position: absolute;
        bottom: 0;
        border: none;
        height: 5vh;
        width: 100%;
        background-color: #35c910;
    }
}

@media (max-width: 800px) {
    
    .caixa {
        display: flex;
        flex-direction: column;
    }

    .caixa input {
        width: 99%;
    }
}
