:root {
    --white: #fff;
    --black: #111;
    --black2: rgba(87, 87, 87, 0.719);
    --green: #35C910;
    --gray: #CACACA;
    --gray2: #c4c4c4;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black2);
    width: 70%;
    margin-left: 15%;
    padding-bottom: 5%;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    color: var(--white);
}

.triangle-down {
    position: relative;
    display: flex;
    justify-content: center;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11vh 13vw 0 13vw;
    /*border-width: 130px 205px 0 205px;*/
    border-color: #35c910 transparent transparent transparent;
    opacity: 50%;
}

main h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    color: var(--white);
    font-size: 1.8vh;
    padding-top: 1%;
}

.caixa {
    margin: 5vh 5vw;
    margin-bottom: 0;
    color: #fff;
}

@media (max-width: 690px) {
    .triangle-down {
        position: relative;
        display: flex;
        justify-content: center;
        border: none;
        height: 5vh;
        width: 100%;
        background-color: #35c910;
    }

    main h2 {
        padding-top: 0;
    }
}
