body {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
}

/*********** Header ***********/
nav {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    top: 0;
    left: 0;
}

.nav-options{
    display: flex;
    align-items: center;
    margin-right: 9%;
}

.signup{
    background-color: #35c910;
    margin-right: 5px;
    color: black;
    font-size: 1.6vh;
    border: solid #35c910;
    border-radius: 11px;
    border-width: thin;
}

.signup:hover, .footer-enviar:hover {
    background-color: #1e7209d7;
    color: white;
    border-color: #1e7209d8;
}

header nav p.pt{
    margin-right: 30px;
    font-size: 1.6vh;
    color: #4e4e4eaf;
}

header nav p.separador{
    color: #35C910;
    font-size: 34px;
    opacity: 0.5;
    height: 45px;
}

header nav img {
    height: 3vh;
    margin-left: 5px;
    position: relative;
}
  
div.menu-bar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    background-color: rgba(87, 87, 87, 0.719);
    opacity: 0.4;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
}
  
div.menu-bar ul li {
    display: inline-block;
}
  
div.menu-bar ul li a {
    padding: 18px;
    color: white;
    font-size: 2vh;
    text-decoration: none;
    display: block;
}
  
div.menu-bar ul li a:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0), inset 0 0 1px rgba(0, 0, 0, 0.877);
    background: rgba(34, 34, 34, 0.993);
    height: 100%;
    color: #35C910
}

/*********** Footer ***********/
footer img.banner {
    border-top: solid #35C910;
    border-width: thin;
    padding-top: 2vh;
    margin-top: 5vh;
    width: 100%;
    height: 12vh;
}

footer div.container {
    display: flex;
    flex-direction: column;
}

.receber-emails {
    background-color: rgba(87, 87, 87, 0.37);
    padding-bottom: 1.5vmax;
    padding-top: 1.5vmax;
}

.receber-emails h2 {
    color: white;
    font-size: 1.5vmax;
    margin-left: 11%;
    margin-top: 0;
}

.receber-emails input.footer-nome {
    margin-left: 11%;
}

.receber-emails input {
    height: 4vh;
    width: 10vw;
    font-size: 1.1vw;
    border: none;
    border-radius: 4px;
}

.footer-enviar{
    height: 4vh;
    width: 4vw;
    background-color: #35C910;
    border: none;
    border-radius: 4px;
    font-size: 1.1vw;
}

footer img.logo-footer {
    margin-left: 11%;
    margin-top: 7vh;
    margin-bottom: 3vh;
    height: 23vh;
    width: 21vw;
}

footer div.container2 {
    display: flex;
    justify-content: space-between;
}

footer div.footer-info {
    margin-right: 9%;
    display: flex;
}

footer .institucional {
    margin-right: 20px;
}

footer div.footer-info ul {
    list-style: none;
    font-size: 1.1vmax;
    color: white;
}

footer div.footer-info li{
    margin-bottom: 2vh;
}

footer h3 {
    margin-top: 0;
    margin-bottom: 4vh;
}
